<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.shop.order.mapper.OrderMapper">
    <insert id="save" parameterType="OrderSaveDAO">
        insert into orders(date, quantity, order_status, member_id, product_id)
            VALUE (#{date}, #{quantity}, #{status}, #{memberId}, #{productId})
    </insert>
</mapper>