<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.shop.review.mapper.ReviewMapper">
    <select id="findAll" resultType="ReviewVO">
        SELECT r.id,
               r.content,
               r.image    reviewImage,
               m.email    memberEmail,
               p.id       productId,
               p.name     productName,
               p.category productCategory,
               p.image    productImage
        FROM review r
                 JOIN member m ON r.member_id = m.id
                 JOIN product p ON r.product_id = p.id;
    </select>

    <insert id="save" parameterType="ReviewSaveRequest">
        insert into review(content, image, member_id, product_id)
            VALUE (#{reviewContent}, #{reviewImage}, #{memberId}, #{productId});
    </insert>
</mapper>