<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.shop.review.mapper.ReviewMapper">

    <resultMap type="com.multi.shop.review.domain.vo.ReviewVO" id="reviewResultMap">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
<!--        <result column="category" property="category"/>-->
        <result column="image" property="image"/>
        <!--    <result column="member_id" property="memberId"/>-->
        <!--    <result column="product_id" property="productId"/>-->
        <association property="member" javaType="MemberVO">
            <id column="member_id" property="id"/>
            <result column="email" property="email"/>
        </association>
        <association property="product" javaType="ProductVO">
            <id column="product_id" property="id"/>
            <result column="name" property="name"/>
            <result column="category" property="category"/>
            <result column="image" property="image"/>
        </association>
    </resultMap>

    <select id="getReviewList" resultMap="reviewResultMap">
        SELECT *
        FROM review;
    </select>

    <select id="getReviewListWithProductAndMember" resultMap="reviewResultMap">
        SELECT r.id,
               p.name,
               r.content,
               m.email,
               r.image,
               p.category,
               r.member_id,
               r.product_id
        FROM review r
                 JOIN member m ON r.member_id = m.id
                 JOIN product p ON r.product_id = p.id;
    </select>

    <update id="updateReview" parameterType="ReviewVO">
        UPDATE review
        SET content = #{content}
        WHERE id = #{id}
    </update>

    <insert id="insertReview" parameterType="ReviewRequest">
        INSERT INTO review (member_id, product_id, content, image)
        VALUES (#{memberId}, #{productId}, #{content}, #{image})
    </insert>

    <delete id="deleteReviewById" parameterType="long">
        DELETE
        FROM review
        WHERE id = #{id}
    </delete>

    <select id="getReviewListByCategory" resultMap="reviewResultMap">
        SELECT r.id,
               p.name,
               r.content,
               m.email,
               r.image,
               p.category,
               r.member_id,
               r.product_id
        FROM review r
                 JOIN member m ON r.member_id = m.id
                 JOIN product p ON r.product_id = p.id
        WHERE p.category = #{category}
    </select>


    <insert id="save" parameterType="ReviewSaveRequest">
        insert into review(content, image, member_id, product_id)
            VALUE (#{reviewContent}, #{reviewImage}, #{memberId}, #{productId});
    </insert>
</mapper>