.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 3em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.loader,
.loader:before,
.loader:after {
  animation: 1s infinite ease-in-out;
}

.loader:before,
.loader:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.ani:before,
.ani:after {
  content: '';
  background-color: #e5cdce;
  transform: scale(0);
  animation: animation 1.5s infinite ease-in-out;
}
.ani:after {
  animation-delay: 0.75s;
}

@keyframes animation {
  0% {
    transform: translateX(-150%) scale(0);
  }
  50% {
    transform: translateX(0%) scale(1);
  }
  100% {
    transform: translateX(150%) scale(0);
  }
}
