.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.TextBox {
  text-align: left;
  margin-top: 5vh;
}

.NavBar {
  display: flex;
  margin-top: 7vh;
  flex-direction: row;
  width: 75vw;
  height: 100px;
}

.Toggle {
  width: 80%;
}

.Count {
  width: 20%;
}

.Wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Text {
  display: table-cell;
  float: right;
}
