<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.shop.auth.mapper.RefreshTokenMapper">
    <insert id="save" parameterType="RefreshTokenVO">
        insert into refresh_token(rt_key, rt_value) VALUE (#{rtKey}, #{rtValue})
    </insert>

    <select id="findTokenByKey" parameterType="String" resultType="RefreshTokenVO">
        select rt_key rtKey, rt_value rtValue
        from refresh_token
        where rt_key = #{key}
    </select>

    <delete id="remove" parameterType="String">
        delete
        from refresh_token
        where rt_value = #{token}
    </delete>
</mapper>